* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
/* Font sizes */
h1,
h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}
p {
  font-size: 1.5rem;
}

.active {
  border-bottom: none !important;
}

nav a:nth-child(4) {
  border-bottom: 3px solid #3d5a80;
}

/* First container */
.first-container {
  display: flex;
  flex-direction: column;
}
.first-container-items {
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
}
.first-container-picture-2 {
  width: 100%;
}
.first-container-texts {
  width: 100%;
  margin-top: 10px;
}

.first-container-texts h1,
.steps-heading {
  padding: 1rem 0 0.5rem;
}

p {
  padding: 0.5rem 0 0;
  line-height: 2.5rem;
}

/*
.first-container-texts h1 {
  font-size: 5rem;
}
.first-container-texts p {
  font-size: 1.5rem;
}
*/

/* Steps container */
.steps-heading {
  width: 95%;
  margin: 0 auto;

  /* font-size: 2.5rem; */
}
.steps-container {
  display: flex;
  flex-direction: column;
}
.steps-container-items {
  width: 95%;
  margin: 0 auto;
}
.steps-card {
  width: 100%;

  margin-bottom: 25px;
  background-color: #e8e8e8;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  text-align: center;
}
.steps-card img {
  padding: 4rem 2rem 2rem;
  width: 45%;
}
/*
.steps-card h1 {
  font-size: 2.0rem;
} */
.steps-card p {
  /*  font-size: 1.5rem; */
  padding: 0 4rem 2rem;
  line-height: 2rem;
}
.steps-card h3 {
  padding: 0 0 1rem;
  font-size: 2rem;
}

/* Founders */
.founders-container {
  display: flex;
  flex-direction: column;
}
.founders-container-items {
  width: 95%;
  margin: 0 auto;
}
.founders-container-items img {
  width: 100%;
}
.founders-text-1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.founders-text-2 {
  font-size: 12.5px;
  margin-bottom: 15px;
}
.founders-text-3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Last container */
.last-container {
  display: flex;
  flex-direction: column;
}
.last-container-items {
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
}
.last-container-picture-2 {
  width: 100%;
}
.last-container-picture-1 {
  margin-top: 15px;
}
.last-container-texts {
  width: 100%;
}

.last-container-texts h2 {
  padding: 0 0 1rem;
}

.last-container-texts p {
  line-height: 2rem;
}

.last-container {
}

.steps-heading {
  padding: 3rem 0 2rem;
}
/*
.last-container-texts h1 {
  font-size: 2.5rem;
}
.last-container-texts p {
  font-size: 1.5rem;
} */

/* Media Queries */
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 750px) {
  .paragraph {
    font-size: 2rem;
  }
  .first-container-items {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
  }

  .first-container-texts {
    width: 45%;
    padding-right: 1.5rem;
    margin-top: -10px;
  }
  .first-container-picture-1 {
    width: 55%;
    padding-left: 1rem;
  }
  .first-container-texts {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .steps-heading {
    padding: 4rem 0 3rem;
    text-align: center;
  }
  .steps-container-items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .steps-card {
    width: 45%;
    margin: 0 15px;
    margin-bottom: 40px;
  }

  .steps-card img {
    padding: 4rem 1rem 2rem;
    width: 45%;
  }
  /*
  .steps-card h1 {
    font-size: 2.0rem;
  } */
  .steps-card p {
    /*  font-size: 1.5rem; */
    padding: 0 1rem 2rem;
    line-height: 2.5rem;
  }
  .steps-card h3 {
    padding: 1rem 0 0.5rem;
    font-size: 2rem;
  }

  /* RED BORDER */
  .steps-container-items {
    display: flex;

    justify-content: center;
  }
  /* RED BORDER */

  .steps-card p {
    margin: 0px 30px;
  }
  .steps-card h3 {
    margin-bottom: 15px;
  }
  .founders-container-items {
    width: 90%;
  }
  .founders-text-2 {
    font-size: 1rem;
    line-height: 2rem;
  }
  .founders-text-3 {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }

  .last-container {
    padding: 2rem 0 0;
  }

  .last-container-items {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
  }
  .last-container-picture-1 {
    width: 50%;
    margin-top: 0px;
  }
  .last-container-texts {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    margin-top: -10px;
  }

  .last-container-texts p,
  .first-container-texts p {
    line-height: 2.75rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .first-container-items {
    width: 80%;
  }
  .steps-container-items {
    width: 80%;
  }
  .last-container-items {
    width: 80%;
  }
  .steps-heading {
    width: 80%;
  }
  .founders-container-items {
    width: 80%;
  }

  .steps-card img {
    padding: 4rem 1rem 2rem;
    width: 40%;
  }

  figcaption {
  }

  /*
  .steps-card h1 {
    font-size: 2.0rem;
  } */
  .steps-card p {
    /*  font-size: 1.5rem; */
    padding: 0 0 2rem;
    line-height: 3rem;
  }
  .steps-card h3 {
    padding: 1rem 0 0.5rem;
    font-size: 2rem;
  }

  .last-container-texts p,
  .first-container-texts p {
    line-height: 3.25rem;
    font-size: 2rem;
  }

  .founders-text-3 {
    line-height: 3.25rem;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1250px) {
  .first-container-items {
    width: 70%;
  }
  .steps-container-items {
    width: 70%;
  }
  .last-container-items {
    width: 70%;
  }
  .steps-heading {
    width: 70%;
  }
  .founders-container-items {
    width: 70%;
  }
  .steps-container-items {
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .first-container-texts {
    width: 40%;
  }
  .first-container-picture-1 {
    width: 60%;
  }

  .steps-heading,
  .last-container-texts h2,
  .founders-text-1 {
    font-size: 3rem;
  }

  .founders-text-1 {
    padding: 2rem 0 1rem;
  }
  .first-container-texts h1 {
    font-size: 4rem;
  }

  .founders-text-3 {
    font-size: 2rem;
    line-height: 3.75rem;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  h2 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .paragraph {
    font-size: 2.5rem;
  }
  .first-container-items {
    width: 60%;
  }
  .steps-container-items {
    width: 60%;
  }
  .last-container-items {
    width: 60%;
  }
  .steps-heading {
    width: 60%;
  }
  .founders-container-items {
    width: 60%;
  }
  .founders-text-1 {
    font-size: 35px;
  }
  .founders-text-2 {
    font-size: 20px;
  }
  .founders-text-3 {
    font-size: 25px;
  }
  .first-container-texts {
    width: 55%;
  }
  .first-container-picture-1 {
    width: 45%;
  }

  .first-container-items,
  .steps-container-items,
  .last-container-items,
  .steps-heading,
  .founders-container-items {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1520px) {
  .last-container-picture-1 {
    width: 80%;
  }

  .first-container-picture-1 {
    width: 80%;
  }
}
