#innovation-type-section,
#innovation-schedule-section, #hero-display-section {
  width: 95%;
  margin: 0 auto;
}

#hero-display-section img {
  display: none;
}

.hero-image-container {
  background-image: url(../images/events-hero-display.jpg);
  background-repeat: norepeat, repeat;
  background-size: cover;
  background-position-y: 0rem;
  max-width: 100%;
  height: 40vh;
  
  
}

#innovation-schedule-section h2 {
  padding: 2.5rem 0 2rem;
}

.contact-left-column,
.contact-right-column {
  
}

.schedule-container {
  padding: 0 0 2rem;red;
  display: flex;
  justify-content: flex-start;

}

.schedule-table {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

.schedule-left-column, .schedule-right-column{
  padding: 0 0 2rem;
}


.schedule-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  align-items: center;
  table-layout: fixed;
  
}

.schedule-table :last-child >:last-child > td {
  padding: 0 0 3.5rem;
}

.upper-schedule-container>.schedule-container{
  
  display: flex;
  justify-content: flex-end;
}

.schedule-table th,
.schedule-table td,
label,
input, textarea {
  font-size: 1.5rem;
}

.schedule-table td {
  padding: 0 0 2rem;
}

.schedule-table th {
  padding: 1rem 0 1rem;
}

.row-1,
.column-2,
.column-3 {
  width: 33%;
  text-align: center;
}

#table-sub-heading {
  font-weight: 500;
  font-size: 2rem;
  padding: 3rem 0 2rem;
}

/*Endre font size og weight på table heading 
tr:first-child {
  font-size: 2rem;
  font-weight: 500;
}
*/

/* 



FORM STYLING 



*/

#contact-section {
  background-color: #ee6c4d;
}

#contact-section h2 {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
}

#contact-section textarea {
  color: black;
  padding: 1rem 1rem 0;

}

.name-container,
.email-container,
.company-container,
.message-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 95%;
  margin: 0 auto;
}

.form-container input,
.form-container textarea,
.message-button {
  border: none;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 3px 6px #00000029;
}

#contact-section h2,
.form-container label,
.form-container textarea,
.message-button {
  color: #f8f8f8;
  
}

.form-container label {
  padding: 1rem 0;
}

.form-container input {
  height: 5rem;
  opacity: 50%;
  display: flex;
  align-items: center;
  padding: 0 1rem 0;
}

.form-container textarea {
  height: 15rem;
  opacity: 50%;
}

.button-container {
  padding: 2rem 0 4rem;
}

.message-button {
  height: 5rem;
  width: 100%;
  font-size: 2rem;
  background-color: #3d5a80;
}

.contact-left-column, .contact-right-column {
  
  padding-bottom: 0;
  
}

.company-container {
  padding-bottom: 0;
}



.active {
  border-bottom: none !important;
}

nav a:nth-child(2) {
  border-bottom: 3px solid #3d5a80;
}



/* Footer styling








*/

footer {
  background-color: #FFFEFB;
  color: #ee6c4d;
}

.footer-master-container {
  display: flex;
  flex-direction: column;
}

footer h2 {
  font-size: 20px;
  font-weight: 500;
  padding: 0rem 0 1rem;
}

footer a {
  text-decoration: none;
  color: #ee6c4d;
}

.footer-text-container a:hover {
  font-weight: 500;
  color: #3d5a80;
}

footer p,
footer a {
  font-size: 15px;
  line-height: 4rem;
  font-weight: 400;
}

.footer-text-container {
  padding: 2rem 0 2rem;
}

.footer-text-container {
  width: 95%;
  margin: 0 auto;
}








/* 


Media Queries


*/
@media only screen and (min-width: 600px) {
  .upper-schedule-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .upper-schedule-container > .schedule-container {
    width: 50%;
    margin: 0 auto;
    padding: 0 0 2rem;
  }

#upper-schedule-left-column {
  padding-right: 1rem;
}

#upper-schedule-right-column {
  padding-left: 1rem;
}
  .schedule-container-bottom {
    display: flex;
    justify-content: space-evenly;
  }

  .schedule-left-column,
  .schedule-right-column {
    width: 50%;
  }

  .form-container {
    display: flex;
    flex-direction: row;
  }

  #contact-section h2 {
    padding: 3rem 0 1rem;
  }

  .contact-left-column,
  .contact-right-column {
    width: 50%;
  }

  .contact-left-column {
    padding-right: 1rem;
  }

  .contact-right-column {
    padding-left: 1rem;
  }

  .message-button {
    width: 50%;
    margin-top: 0.65rem;
  }

  .table-sub-heading {
  }

  .schedule-left-column,  {
    padding: 0 0 2rem;
  }

  .message-button {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  #innovation-type-section,
  #innovation-schedule-section,
  .form-container, #hero-display-section,
  #contact-section h2 {
    width: 90%;
  }

.hero-image-container {
  background-position-y: 0rem;
  max-width: 100%;
  background-position-y: -10rem;
  height: 30vh;
  
}

  


  h2 {
    text-align: center;
  }

  footer h2 {
    text-align: left;
  }

  #contact-section h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .schedule-left-column, .schedule-right-column  {
    padding: 0 1rem 3rem;
  }

  #upper-schedule-left-column, #upper-schedule-right-column  {
    padding: 0 1rem 2rem;
  }


  #contact-section h2 {
    padding: 4rem 0 2rem;
  }

  .button-container {
    margin-top: .85rem
  }

}

@media only screen and (min-width: 1000px) {
  #innovation-type-section,
  #innovation-schedule-section,
  #innovation-schedule-section h2,
  .form-container, #hero-display-section,
  #contact-section h2 {
    width: 80%;
    margin: 0 auto;
  }

   
.hero-image-container {
  background-position-y: -15rem;
  height: 25vh;
  
}

#innovation-schedule-section h2 {
  padding: 4rem 0 2.5rem;
}

.schedule-container-bottom {
  padding: 0 0 3rem;
}

  #upper-schedule-left-column, #upper-schedule-right-column {
    padding: 0 1rem 3rem;
  }

  .schedule-table {
    display: flex;
  }

  
  #contact-section h2 {
    padding: 5rem 0 2rem;
  }

  .contact-left-column {
    padding: 0 0 6rem;
    padding-right: 1.5rem;
  }

  .contact-right-column {
    padding-lefT: 1.5rem;
  }

  
  .button-container {
    margin-top: .95rem
  }



}

@media only screen and (min-width: 1250px) {
  #innovation-type-section,
  #innovation-schedule-section,
  #innovation-schedule-section h2,
  .form-container,
  #contact-section h2, #hero-display-section, {
    width: 70%;
  }

  
.hero-image-container {
  background-position-y: -15rem;
  height: 30vh;
  
}


.schedule-table :last-child >:last-child > td {
  padding: 0 0 4rem;
}


  #innovation-schedule-section h2 {
    padding: 3rem 0 2rem;
  }

  
  #upper-schedule-right-column {
    padding-left: 2rem;

  }

  #upper-schedule-left-column {
    padding-right: 2rem;
  } 

  #contact-section input {
   
    padding: .35rem 1.25rem 0;
  
  }


  .form-container input {
    height: 6rem;
    padding: 0 1rem 2rem;
  }

  .contact-left-column,
  .contact-right-column {
    padding: 0 2rem 6rem;
  }

  .form-container textarea {
    height: 16rem;
  }

  .message-button {
    font-size: 2rem;
  }

  .schedule-left-column {
    padding-right: 2rem;
  }

  .schedule-right-column {
    padding-left: 2rem;
  }


  .schedule-left-column, .schedule-right-column, #upper-schedule-left-column, #upper-schedule-right-column {
    padding-bottom: 4rem;
  }

  
  .button-container {
    margin-top: 1.95rem
  }

  .message-button {
    height: 6rem;
  }

  
}

@media only screen and (min-width: 1440px) {
  #innovation-type-section,
  #innovation-schedule-section,
  #innovation-schedule-section h2,
  .form-container, #hero-display-section,
  #contact-section h2, .footer-master-container {
    width: 60%;
    max-width: 1200px;
  }

  .footer-master-container {
    margin: 0 auto;
  }

  
.schedule-table :last-child >:last-child > td {
  padding: 0 0 4.5rem;
}



  #table-sub-heading {
    font-size: 2.5rem;
    padding: 4rem 0 3rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  #innovation-schedule-section h2,
  #contact-section h2 {
    padding: 4rem 0 3rem;
  }

  #contact-section h2 {

    width: 100%;
  }


  .contact-left-column {
    padding-left: 0;
    padding-right: 3rem;
  }

  .contact-right-column {
    padding-right: 0;
    padding-left: 3rem;
  }

  .schedule-table th {
    font-size: 2rem;
    font-weight: 500;
  }

  .schedule-table td {
    font-size: 1.5rem;
  }

  .form-container label {
    font-size: 2rem;
    padding: 2rem 0 1rem;
  }

  .button-container {
    padding: 5rem 0 4rem;
    font-weight: 500;
    font-size: 2rem;
  }

  .table-sub-heading {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .bootcamp-left-column {
    display: flex;
  }

  .schedule-container {
    padding: 0 0 4rem;
  }

  .schedule-table td {
    padding: 0 0 2.5rem;
  }

  .schedule-table th {
    padding: 2rem 0 1rem;
  }

  .form-container label {
    font-size: 1.5rem;
  }

  .upper-schedule-container, .schedule-container-bottom, .contact-heading-container, .form-container, .footer-master-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  
  #contact-section h2 {
    padding: 6rem 0 3.5rem;
  }

  .contact-left-column {
    padding: 0 0 7rem;
  }

   
  .button-container {
    margin-top: .85rem
  }


}


@media only screen and (min-width: 1525px){
  #contact-section input {
    height: 7rem;
  }
  #contact-section textarea{
    height: 19.5rem;
  }
  .button-container {
    margin-top: -.5rem;
  }
  .message-button {
    height: 7rem;
  }
  .contact-left-column {
    padding-right: 2rem;
  }
  .contact-right-column{
    padding-left: 2rem;
  }
}








/*


Footer media queries


*/

@media only screen and (min-width: 600px) {
  .footer-master-container {
    width: 95%;
    margin: 0 auto;
  }
  .footer-text-container,
  .footer-icon-container {
    width: 50%;
  }

  .footer-master-container {
    flex-direction: row;
  }
}

@media only screen and (min-width: 750px) {
  .footer-master-container {
    width: 90%;
  }

  footer h2 {
    font-size: 25px;
  }

  footer p,
  footer a {
    line-height: 4rem;
  }

  .footer-text-container {
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 1000px) {
  .footer-master-container {
    width: 80%;
  }

  footer p,
  footer a {
    line-height: 4rem;
  }

  .footer-text-container {
    padding: 4rem 0;
  }
}

@media only screen and (min-width: 1250px) {
  .footer-master-container {
    width: 70%;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-master-container {
    width: 60%;
    max-width: 1400px;
  }

  footer p,
  footer a {
    font-size: 15px;
    line-height: 3.5rem;
  }
}
