
.heroDisplay-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.heroDisplay-background {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.heroDisplay-image {
  max-width: 100%;
  height: auto;
  filter: brightness(70%);
}


.heroDisplay-tittel {
  position: absolute;
  width: 95%;
  left: 50%;
  transform: translate(-50%,0);
  color: #f8f8f8;

}

.aboutUs-container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;


}

.aboutUs-info-small {
  display: flex;
  width: 100%;
  background-color: #EE6C4D;
  box-shadow: 3px 8px 9px #D3D3D3;
  margin-bottom: 4%;

}

.aboutUs-info-small-text {
  margin: 4%;
  font-size: 2rem;
  line-height: 1.6;
  color: #F8F8F8;
}

.aboutUs-info-large {
  display: flex;
  width: 100%;
  box-shadow: 3px 8px 9px #D3D3D3;
  margin-bottom: 4%;
}

.aboutUs-info-large-text {
  font-size: 2rem;
  margin: 4%;
  line-height: 1.6;
}

/* Events */

.events-container {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.events-container-tittel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.events-tittel-headline {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.events-tittel-description {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.events-container-eventtypes{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.events-events {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 3px 8px 9px #D3D3D3;
  margin-bottom: 4%;

}

.events-eventtypes-header{

}

.events-eventtypes-tittel{

}

.events-container-description{
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.events-eventtypes-tittel{

}

.events-eventtypes-description{

}

.events-eventtypes-bookIcon{
  background-color: blue;
  width: 10%;

}

@media only screen and (min-width: 1000px) {
  .aboutUs-container {
    width: 90%;
    height: 285px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .aboutUs-info-small {
    width: 30%;
    height: 100%;

  }
  .aboutUs-info-large {
    width: 67%;
    height: 100%;
  }
}
