.heroDisplay-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heroDisplay-background {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-image: url(../images/heroDisplay.png);
  filter: brightness(70%);
  background-position-x: -10rem;
}

.heroDisplay-image {
  visibility: hidden;
  max-width: 100%;
  height: auto;
  filter: brightness(70%);
}

.heroDisplay-tittel {
  position: absolute;
  width: 95%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #f8f8f8;
}

.aboutUs-container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.aboutUs-info-small {
  display: flex;
  width: 100%;
  background-color: #ee6c4d;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 4%;
}

.aboutUs-info-small-text {
  margin: 4%;
  font-size: 2rem;
  line-height: 1.6;
  color: #f8f8f8;
}

.aboutUs-info-large {
  display: flex;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 4%;
}

.aboutUs-info-large-text {
  font-size: 2rem;
  margin: 4%;
  line-height: 1.6;
}

/* Events */

.events-container {
  display: flex;
  width: 95%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  margin-top: 7%;
  margin-bottom: 7%;
}

.events-container-tittel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.events-tittel-headline {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2%;
}

.events-tittel-description {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  line-height: 1.6;
  font-size: 1.5rem;
}
.events-tittel-description p {
  line-height: 1.6;
  font-size: 1.6rem;
}

.events-container-eventtypes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.events-events {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px 10px 10px 10px;
  margin-top: 6%;
  background-color: #f8f8f8;
}

.events-eventtypes-header-half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.events-eventtypes-header-full {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.events-eventtypes-header-exclusive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.events-images {
  max-width: 100%;
  height: auto;
  filter: brightness(70%);
  border-radius: 10px 10px 0px 0px;
}

.events-eventtypes-tittel {
  position: absolute;
  width: 60%;
  left: 40%;
  transform: translate(-50%,0);
  color: #f8f8f8;
}
.events-eventtypes-tittel h3 {
  font-size: 2rem;
}

.events-container-description {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 4%;
}

.events-eventtypes-tittel2 {
  visibility: hidden;
  padding-bottom: 2%;
}

.events-eventtypes-description {
  display: flex;
  line-height: 1.6;
}

.events-bookIcon-container {
  display: flex;
  width: 40%;
  background-color: #3d5a80;
  justify-content: center;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 1.5%;
}

.events-bookIcon-tekst {
  display: flex;
  color: white;
  margin: 2%;
}
.events-bookIcon-tekst p {
  font-size: 2rem;
}

/* Stories */
.stories-main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  margin-bottom: 6%;
  margin-top: 4%;
}

.stories-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
  margin-top: 5%;
}
.stories-stories {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stories-story {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #f8f8f8;
  border-radius: 10px 10px 10px 10px;
}
.stories-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.stories-container-description {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 5%;
}

.stories-story-tittel {
  line-height: 1.6;
  padding-bottom: 1%;
}

.stories-story-text {
  line-height: 1.6;
}

@media only screen and (min-width: 600px) {
  .heroDisplay-tittel {
    width: 95%;
  }
  .aboutUs-container {
    width: 95%;
  }

  .events-container {
    width: 95%;
  }
  .stories-main-container {
    width: 95%;
  }
  #contact-section h2 {
    padding: 3rem 0 1rem;
  }

  .contact-left-column,
  .contact-right-column {
    width: 50%;
  }

  .contact-left-column {
    padding-right: 1rem;
  }

  .contact-right-column {
    padding-left: 1rem;
  }

  .message-button {
    width: 50%;
    margin-top: 0.65rem;
  }

  .table-sub-heading {
  }

  .schedule-left-column {
    padding: 0 0 2rem;
  }

  .message-button {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 750px) {
  .heroDisplay-tittel {
    width: 90%;
  }
  .heroDisplay-tittel h1 {
    font-size: 3rem;
  }
  .aboutUs-container {
    width: 90%;
    /*height: 285px;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .aboutUs-info-small {
    width: 30%;
    height: 350px;
  }
  .aboutUs-info-large {
    width: 67%;
    height: 350px;
  }

  .events-container {
    width: 90%;
  }

  .events-events {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 4%;
  }

  .events-container-tittel {
    width: 60%;
  }

  .events-eventtypes-header-half {
    width: 40%;
    background-image: url(../images/halfdaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-y: 0rem;
    height: 27vh;
    border-radius: 10px 0px 0px 10px;
  }

  .events-eventtypes-header-full {
    width: 40%;
    background-image: url(../images/fulldaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -4rem;
    height: 25vh;
    border-radius: 10px 0px 0px 10px;
  }

  .events-eventtypes-header-exclusive {
    width: 40%;
    background-image: url(../images/exclusiveSeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -7rem;
    height: 25vh;
    border-radius: 10px 0px 0px 10px;
  }

  .events-container-description {
    margin: 3%;
    align-items: flex-start;
  }
  .events-images {
    visibility: hidden;
  }
  .events-eventtypes-tittel {
    visibility: hidden;
  }
  .events-eventtypes-tittel2 {
    visibility: visible;
  }
  .events-eventtypes-description {
    line-height: 3;
  }

  .stories-main-container {
    width: 90%;
  }

  .stories-stories {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  .stories-story {
    width: 30%;
  }
  #contact-section h2 {
    width: 90%;
  }
  #contact-section h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  #contact-section h2 {
    padding: 4rem 0 2rem;
  }
  .button-container {
    margin-top: 0.85rem;
  }
}

@media only screen and (min-width: 1000px) {
  .heroDisplay-tittel {
    width: 80%;
  }
  .heroDisplay-tittel h1 {
    font-size: 3.5rem;
  }
  .aboutUs-container {
    width: 80%;
    height: 285px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .aboutUs-info-small {
    width: 30%;
    height: 100%;
  }
  .aboutUs-info-large {
    width: 67%;
    height: 100%;
  }

  .events-container {
    width: 80%;
  }

  .events-events {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 4%;
  }
  .events-container-tittel {
    width: 60%;
  }
  .events-eventtypes-header-half {
    width: 40%;
    background-image: url(../images/halfdaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-y: 0rem;
    height: 20vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-eventtypes-header-full {
    width: 40%;
    background-image: url(../images/fulldaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -4rem;
    height: 20vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-eventtypes-header-exclusive {
    width: 40%;
    background-image: url(../images/exclusiveSeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -7rem;
    height: 20vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-container-description {
    margin: 3%;
    align-items: flex-start;
  }
  .events-images {
    visibility: hidden;
  }
  .events-eventtypes-tittel {
    visibility: hidden;
  }
  .events-eventtypes-tittel2 {
    visibility: visible;
  }
  .events-eventtypes-description {
    line-height: 3;
  }

  .stories-main-container {
    width: 80%;
  }

  .stories-stories {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  .stories-story {
    width: 30%;
  }
  #contact-section h2 {
    width: 80%;
    margin: 0 auto;
  }
  #contact-section h2 {
    padding: 5rem 0 2rem;
  }

  .contact-left-column {
    padding: 0 0 6rem;
    padding-right: 1.5rem;
  }

  .contact-right-column {
    padding-left: 1.5rem;
  }

  .button-container {
    margin-top: 0.95rem;
  }
}

@media only screen and (min-width: 1250px) {
  .heroDisplay-tittel {
    width: 70%;
  }
  .heroDisplay-tittel h1 {
    font-size: 3.5rem;
  }
  .aboutUs-container {
    width: 70%;
    height: 285px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .aboutUs-info-small {
    width: 30%;
    height: 100%;
  }
  .aboutUs-info-large {
    width: 67%;
    height: 100%;
  }

  .events-container {
    width: 70%;
  }

  .events-events {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 4%;
  }
  .events-container-tittel {
    width: 60%;
  }
  .events-eventtypes-header-half {
    width: 40%;
    background-image: url(../images/halfdaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-y: 0rem;
    height: 35vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-eventtypes-header-full {
    width: 40%;
    background-image: url(../images/fulldaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -4rem;
    height: 35vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-eventtypes-header-exclusive {
    width: 40%;
    background-image: url(../images/exclusiveSeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -7rem;
    height: 35vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-container-description {
    margin: 3%;
    align-items: flex-start;
  }
  .events-images {
    visibility: hidden;
  }
  .events-eventtypes-tittel {
    visibility: hidden;
  }
  .events-eventtypes-tittel2 {
    visibility: visible;
  }
  .events-eventtypes-description {
    line-height: 3;
  }

  .stories-main-container {
    width: 70%;
  }

  .stories-stories {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  .stories-story {
    width: 30%;
  }
  #contact-section h2 {
    width: 70%;
  }
  .contact-left-column,
  .contact-right-column {
    padding: 0 2rem 6rem;
  }

  .form-container textarea {
    height: 16rem;
  }

  .message-button {
    font-size: 2rem;
  }
  .button-container {
    margin-top: 1.95rem;
  }

  .message-button {
    height: 6rem;
  }
}
@media only screen and (min-width: 1440px) {
  .heroDisplay-tittel {
    width: 60%;
    max-width: 1200px;
  }
  .heroDisplay-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
  .aboutUs-container {
    width: 60%;
    max-width: 1200px;
    height: 285px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .aboutUs-info-small {
    width: 30%;
    height: 100%;
  }
  .aboutUs-info-large {
    width: 67%;
    height: 100%;
  }

  .events-container {
    width: 60%;
    max-width: 1200px;
  }

  .events-events {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 4%;
  }
  .events-container-tittel {
    width: 60%;
  }
  .events-eventtypes-header-half {
    width: 40%;
    background-image: url(../images/halfdaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-y: 0rem;
    height: 35vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-eventtypes-header-full {
    width: 40%;
    background-image: url(../images/fulldaySeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -4rem;
    height: 35vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-eventtypes-header-exclusive {
    width: 40%;
    background-image: url(../images/exclusiveSeminar.png);
    background-repeat: norepeat, repeat;
    background-size: cover;
    background-position-x: -7rem;
    height: 35vh;
    border-radius: 10px 0px 0px 10px;
  }
  .events-container-description {
    margin: 3%;
    align-items: flex-start;
  }
  .events-images {
    visibility: hidden;
  }
  .events-eventtypes-tittel {
    visibility: hidden;
  }
  .events-eventtypes-tittel2 {
    visibility: visible;
  }
  .events-eventtypes-description {
    line-height: 3;
  }

  .stories-main-container {
    width: 60%;
    max-width: 1200px;
  }

  .stories-stories {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  .stories-story {
    width: 30%;
  }
  #contact-section h2 {
    width: 60%;
    max-width: 1200px;
    font-size: 3.5rem;
  }
  #contact-section h2 {
    width: 100%;
  }

  .contact-left-column {
    padding-left: 0;
    padding-right: 3rem;
  }

  .contact-right-column {
    padding-right: 0;
    padding-left: 3rem;
  }

  .schedule-table th {
    font-size: 2rem;
    font-weight: 500;
  }

  .schedule-table td {
    font-size: 1.5rem;
  }

  .form-container label {
    font-size: 2rem;
    padding: 2rem 0 1rem;
  }

  .button-container {
    padding: 5rem 0 4rem;
    font-weight: 500;
    font-size: 2rem;
  }
  #contact-section h2 {
    padding: 6rem 0 3.5rem;
  }

  .contact-left-column {
    padding: 0 0 7rem;
  }

  .button-container {
    margin-top: 0.85rem;
  }
}

@media only screen and (min-width: 1525px) {
  #contact-section input {
    height: 7rem;
  }
  #contact-section textarea {
    height: 19.5rem;
  }
  .button-container {
    margin-top: -0.5rem;
  }
  .message-button {
    height: 7rem;
  }
  .contact-left-column {
    padding-right: 2rem;
  }
  .contact-right-column {
    padding-left: 2rem;
  }
}
